Repository k-kaundal/fullstack-nnp-template: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, cd server && eslint --fix, cd server && prettier --write, cd client && eslint --fix, cd client && prettier --write

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": ["eslint --fix", "prettier --write"],
  "*.{json,md,yml,yaml}": ["prettier --write"],
  "*.{css,scss}": ["prettier --write"],
  "server/**/*.{ts,tsx}": [
    "cd server && eslint --fix",
    "cd server && prettier --write"
  ],
  "client/**/*.{ts,tsx}": [
    "cd client && eslint --fix",
    "cd client && prettier --write"
  ]
}

ci: configure SonarQube to suppress false positive password warnings
  .github/workflows/ci.yml
  .github/workflows/coverage.yml
  .github/workflows/security.yml
  .github/workflows/sonarqube.yml
  client/app/admin/users/page.tsx
  client/app/admin/users/page.tsx.old
  client/app/auth/register/page.tsx
  client/app/auth/reset-password/page.tsx
  docs/SONARQUBE_SUPPRESSION.md
  sonar-project.properties
Due: eslint --fix, prettier --write, cd client && eslint --fix, cd client && prettier --write

chore: remove deprecated husky.sh lines from git hooks
  .husky/commit-msg
  .husky/pre-commit
  server/package.json
  server/yarn.lock
Due: prettier --write

ci: fix Docker security scan and add comprehensive security guide
  .github/workflows/coverage.yml
  .github/workflows/security.yml
  CONTRIBUTING.md
  GIT_WORKFLOW.md
  README.md
  docs/SECURITY_SCANNING.md
Due: prettier --write

fix: format of security file
  .github/workflows/security.yml
Due: prettier --write

fix(sonar): remove wildcards from sonar.tests property
  docs/SONARQUBE_SETUP.md
  sonar-project.properties
Due: prettier --write

fix: remove sonar
  .github/workflows/sonarqube.yml
  docs/SONARQUBE_SETUP.md
  docs/SONARQUBE_SUPPRESSION.md
  sonar-project.properties
Due: prettier --write

fix: update cors
  server/src/main.ts
Due: eslint --fix, prettier --write, cd server && eslint --fix, cd server && prettier --write

fix: cors
  server/src/main.ts
Due: eslint --fix, prettier --write, cd server && eslint --fix, cd server && prettier --write

fix: build issues
  .github/copilot-instructions.md
  .prettierignore
  docs/API_VERSIONING_AND_SWAGGER.md
  docs/GRAPHQL_AND_RATE_LIMITING.md
  server/.env.example
  server/.gitignore
  server/docs/API_ENDPOINTS_AUTH.md
  server/docs/API_RESPONSE_DECORATORS.md
  server/docs/API_SECURITY.md
  server/docs/API_SECURITY_IMPLEMENTATION_COMPLETE.md
  server/docs/CACHING_IMPLEMENTATION.md
  server/docs/DATABASE_FEATURES.md
  server/docs/ERROR_HANDLING_AND_LOGGING.md
  server/docs/QUICK_REFERENCE_AUTH.md
  server/docs/REQUEST_LOGGING.md
  server/docs/SESSION_MANAGEMENT.md
  server/docs/VALIDATION.md
  server/docs/VALIDATION_IMPLEMENTATION_COMPLETE.md
  server/eslint.config.mjs
  server/src/api-docs/openapi.json
  server/src/api-docs/openapi.yaml
  server/src/common/logger/logger.service.ts
  server/src/config/swagger.config.ts
  server/src/main.ts
  server/src/scripts/create-migration.sh
  server/src/scripts/generate-migration.sh
  server/src/scripts/rollback-migration.sh
  server/src/scripts/run-migrations.sh
Due: eslint --fix, prettier --write, cd server && eslint --fix, cd server && prettier --write

fix: loger
  server/src/common/logger/logger.service.ts
Due: eslint --fix, prettier --write, cd server && eslint --fix, cd server && prettier --write

fix: file
  server/src/common/logger/logger.service.ts
Due: eslint --fix, prettier --write, cd server && eslint --fix, cd server && prettier --write

fix: serverless
  server/src/app.module.ts
  server/src/graphql/graphql.config.ts
Due: eslint --fix, prettier --write, cd server && eslint --fix, cd server && prettier --write

fix: root
  server/src/app.module.ts
  server/src/main.ts
Due: eslint --fix, prettier --write, cd server && eslint --fix, cd server && prettier --write

fix: format
  server/src/newsletter/newsletter.service.ts
Due: eslint --fix, prettier --write, cd server && eslint --fix, cd server && prettier --write

fix: test case of users
  server/src/users/users.controller.spec.ts
  server/src/users/users.service.spec.ts
Due: eslint --fix, prettier --write, cd server && eslint --fix, cd server && prettier --write

Update funding sources in FUNDING.yml
  .github/FUNDING.yml
Due: prettier --write

Potential fix for code scanning alert no. 17: Server-side request forgery
  server/package.json
  server/src/analytics/analytics.service.ts
Due: eslint --fix, prettier --write, cd server && eslint --fix, cd server && prettier --write

Potential fix for code scanning alert no. 19: Useless conditional
  client/app/admin/analytics/page.tsx
Due: eslint --fix, prettier --write, cd client && eslint --fix, cd client && prettier --write

Potential fix for code scanning alert no. 18: Useless assignment to local variable
  client/app/admin/page.tsx
Due: eslint --fix, prettier --write, cd client && eslint --fix, cd client && prettier --write

Potential fix for code scanning alert no. 20: Useless conditional
  client/app/admin/analytics/page.tsx
Due: eslint --fix, prettier --write, cd client && eslint --fix, cd client && prettier --write

fix: ip address checking
  server/src/analytics/analytics.service.ts
  server/yarn.lock
Due: eslint --fix, prettier --write, cd server && eslint --fix, cd server && prettier --write

fix: e2e testign
  server/package.json
  server/src/graphql/graphql.schema.ts
  server/test/jest-e2e.json
Due: eslint --fix, prettier --write, cd server && eslint --fix, cd server && prettier --write

fix: server build
  server/package.json
  server/src/analytics/analytics.service.ts
  server/test/jest-e2e.json
  server/yarn.lock
Due: eslint --fix, prettier --write, cd server && eslint --fix, cd server && prettier --write

fix: update vercel config
  server/vercel.json
Due: prettier --write

fix: 3d view
  client/app/HomeClient.tsx
  client/components/3d/AI3DBackground.tsx
Due: eslint --fix, prettier --write, cd client && eslint --fix, cd client && prettier --write
